body{ background-color: #fff; }

a img,
:link img,
:visited img{ border: none; }

:focus{ -moz-outline-style: none; }

a{ text-decoration: none; }

a:hover{ text-decoration: underline; }

body, td{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}


/* _backendHeader - Styles for the Kaufmich.com Admin Panel header
==========================================*/
#header{
  position: relative;
  height: 85px;
  background: #444; /* old browsers */
  background: -moz-linear-gradient(top, #666 0%, #444 56%, #333 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(56%,#444444), color-stop(100%,#333333)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* ie */  
  color: #efefef;
}

#header a{ 
  color: #999; 
  text-decoration: none;
  outline: none;
}

#header a:hover { color: #fff; }

#header h1{
  float: left;
  margin: 10px 0 0 20px;
}
  
#header h1 a{
  position: relative;
  background: url(/images/logo_backend.png) no-repeat;
  width: 138px;
  height: 38px;  
  display: block;
  text-indent: -9999px;
}
 
#header h1 a:hover{ color:#999 !important; }

a #site-visit-button{
  background: #222;
  color: #fff;
  text-shadow: 0 -1px 0 #3F3F3F;
  font-size: 11px;
  padding: 1px 5px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  display: none;
  position: absolute;
  right: -73px;
  top: 7px;
  width: 100px;
  height: 25px;
  text-indent: 0;
  opacity: .8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
  
a:hover #site-visit-button{
  display: block;
}
  
#site-visit-button span{
  display: block;
  background: url(/images/icons/icon_speecharrow.png) left bottom no-repeat;
  margin-left:-21px;
  padding: 6px 0 0 23px;
}
  
a.logout {
  position: absolute;
  right: 0;
  top: 20px;  
  display: block;
  padding:5px 8px 5px 30px;
  text-shadow:0 -1px 0 #3F3F3F;
  font-weight: bold;
  background: url(../images/icons/door.png) no-repeat 12% center;
  border-width: 1px 0 1px 1px;
  border-color: #555 #555 #444;
  border-style: solid;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  border-radius: 3px 0 0 3px;
  -moz-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
  
a:hover.logout{ 
  background: #585858 url(../images/icons/door_in.png) no-repeat 13% center;
  border-color: #777 #777 #444;
  color: #fff;
  -moz-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
}

a:active.logout{ 
  background-color: #750000; 
  color: #fff;
  border-color: #444 #444 #777;
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}  

/* _backendNavigation - Styles for the header DropDown menu
==========================================*/
#nav{
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 900;
}

#nav ul{
  line-height: 1em;
  list-style: none;
  z-index: 90;
  margin: 0;
  padding: 0;
  z-index: 900;
}

#nav ul li{
  float: left;
  font-size: 12px;
  border-right: 1px solid #444;
  margin: 0;
  z-index: 900;
}

#nav ul li:last-child a,
#nav ul li:last-child{
  border-right: 0 none;
}

#nav ul li a{
  display: block;
  width: auto;
  font-weight: bold;
  background: #555;
  float: none;
  margin: 0;
  padding: 10px 20px 10px 35px;
  text-shadow: 1px 1px 0 #333;
  border-right: 1px solid #333;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

#nav ul li a:hover{ 
  background-color: #555 !important; 
  color: #fff; 
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav ul li a{ float: none; }
/* End IE5-Mac hack */

#nav ul.level2, 
#nav ul.level3{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding:0;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 180px; /* width of the dropdown box */
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

#nav ul.level2 li, 
#nav ul.level3 li{
  border-bottom: 1px solid #444;
  border-right: 0 none;
  margin: 0;
  padding: 0;
  width: 180px; /* width of the dropdown box */
}

#nav ul.level2 li a, 
#nav ul.level3 li a{  
  padding: 7px 10px; /*padding of the dropdown items */
  background: #555;
  color: #ccc !important;
  border-right: 0 none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;  
  -webkit-box-shadow: 0 0 0;  

}

#nav ul.level2 li:first-child, 
#nav ul.level3 li:first-child{
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-top-right-radius: 5px;
}

#nav ul.level2 li:first-child a, 
#nav ul.level3 li:first-child a{
  border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-top-right-radius: 3px;
}

#nav ul.level2 li:last-child, 
#nav ul.level3 li:last-child{
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-bottom: 0 none;
}

#nav ul.level2 li:last-child a, 
#nav ul.level3 li:last-child a{
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

#nav ul.level2 li a:hover,
#nav ul.level3 li a:hover{ 
  background-color: #666 !important; 
  color: #fff !important;
}

#nav li:hover a,
ul#nav.navActive{ /* Add hover element to parent ul */
  background-color: #555 !important; 
  color: #fff !important;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
} 
	
a.nav_users{ background: transparent url(../images/icons/group.png) no-repeat 15% center !important;}
a.nav_themes{ background: transparent url(../images/icons/pictures.png) no-repeat 15% center !important;}
a.nav_weather{ background: transparent url(../images/icons/weather_lightning.png) no-repeat 15% center !important;}	


@media screen and (max-width: 1010px) {
	#nav a{ 
      background-image: none !important;
      padding: 10px !important;
    }
}

@media screen and (max-width: 670px) {
   #nav a{
     font-size: 11px !important;
     padding: 10px !important;
   }
}

/* _backendContent - Styles for the backend content
==========================================*/
div.content{
  padding: 20px;
  background: #fff;
}

div.footer{
  padding: 20px;
  background: #efefef;
  border-top: 1px solid #ccc;
}

body #sf_admin_container #sf_admin_content{
  margin-right: 0;
}

#sf_admin_container div#sf_admin_bar{
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  height: auto;
  min-height: 70px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
}

#sf_admin_container div#sf_admin_bar div.form-row{
  float: left;
  clear: none;
  height: 25px;
  border-bottom: 0;
  border-right: 1px solid #ccc;
}

body #sf_admin_container .form-row .content{
  padding: 0;
  display: inline;
}

#sf_admin_container .form-row label{
  float: none;
  display: inline;
}

#sf_admin_container .sf_admin_filters fieldset h2{
  background: #333;
  color: #fff;
  padding: 5px 10px;
}

#sf_admin_container div#sf_admin_bar ul.sf_admin_actions{
  float: none;
  position: absolute;
  right: 10px;
  bottom: 2px;
}

.handle{
  cursor: move;
}
/* _messageThread - Styles for the message thread viewing
==========================================*/

#messageThread h3 a{ 
  color: #555;  
  font-size: 18px;
}

#messageThread h4{
  font-weight: normal;
}

#messageThread td{
  width: 50%;
  padding: 5px 10px;
}

#messageThread td.message{
  border-bottom: 1px dotted #ccc;
}

#messageThread tr.odd td{
  background: #efefef;
}


/* _Photo List
==========================================*/
#imageSettings{
  float: left;  
}

#imageSettings li.photo{
  float: left;  
  margin: 0 10px 10px 0;
  padding: 2px;
  height: 410px;
  width: 304px;  
  border: 1px solid #ccc;
  list-style: none outside none;
}

#imageSettings li.photo:hover{
  border: 1px solid #bbb;
}

#imageSettings .photoThumbnail img{
  display: block;
  margin-bottom: 3px;
  padding: 2px;
  text-align: center;
  height: 300px;
}

.photoThumbnail{
  margin-bottom: 5px;
}

#imageSettings ul{
  list-style: none;
}

.photoData{
  float: left;
  margin-bottom: 10px !important;
  width: 295px;
  padding-left: 5px !important;
}

.usertype{
  float: right;
  border: 1px solid #ccc;
  padding: 5px;
  background: #efefef;
}

.photoActions{
  float:left;
  clear: both;  
}

.photoActions li{
  float: left;
  position: relative;
}

.photoActions input{
  margin-right: 5px !important;
}

.rejectActions{
  position: absolute;
  top: 25px;
  left: 2px;
  border: solid #ccc;
  border-width: 1px;
  -moz-box-shadow: 0 4px 4px rgba(0,0,0,.4);
}

.rejectActions li{
  float: none;
}

.rejectActions a{
  display: block;
  background-color: #fff;
  color: #222;
  padding: 5px 5px 6px 8px !important;
  width: 155px;
  border-top: 1px solid #eee;
  text-decoration: none !important;
}

.rejectActions a:hover{
  background-color: #ddd;
}

.rejectActions .selected{
  background-color: #ccc;
}

.label_button{
  background: #ddd;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 2px;
  padding: 4px 0 4px 5px !important;
  height: 15px;
  width: 90px !important;
  float: left;
  color: #222 !important;
  text-shadow: 1px 1px 0 #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #eee; /* old browsers */
  background: -moz-linear-gradient(top, #eee 4%, #ddd 94%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#eee), color-stop(94%,#ddd)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#DDDDDD',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #eee 4%,#ddd 94%); /* opera */  
}

.label_button:active{  
  background: #ddd; /* old browsers */
  background: -moz-linear-gradient(top, #ddd 11%, #eee 87%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#ddd), color-stop(87%,#eee)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#EEEEEE',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #ddd 11%,#eee 87%); /* opera */
  border-top-color: #bbb;
}
.label_button input{
  border: none 0 !important;
}

.rejectButton .rejectDropdown{
  position: absolute;
  right: 8px;
  top: 9px;
  background: url("/images/icons/arrowDownDark.png") 90% 50% no-repeat;
  display: block;
  width: 7px;
  height:6px;
}


a.clearPhotoStatus{
  clear: both;
  float: right; 
  margin-top: 5px;
  margin-right: 10px;
  color: #333;
}

.photoMeta{
  float: left;
  margin: 5px 0 0 5px;
  font-size: 10px;
  color: #666;
}

#submitImages{
 float: right;
}



/* Login Box */
.box{
  margin: 100px auto;
  padding: 10px 20px 0;
  width: 160px;
  text-align: left;
  background-color:#fff;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

form.box:hover{ 
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  box-shadow: 0 0 30px #ccc;
  border: 1px solid #fff;
} 

.box input,
.box button{
  margin-bottom: 15px;
  width: 100%;
}


.storm{
  background:  url(/images/storms/thunderstorm/clouds1.png) repeat-x scroll 70% 0;
  width: 100%;
  height: 100%;
  
  -moz-animation-duration: 20s;  
  -moz-animation-name: clouds;  
  -moz-animation-iteration-count: infinite;
  
  -webkit-animation-duration: 20s;  
  -webkit-animation-name: clouds;  
  -webkit-animation-iteration-count: infinite;
}

 @-webkit-keyframes clouds {  
    from {  
      background-position: 0 0;  
    }  
      
    to {  
      background-position: 100% 0;  
    }  
  }  
 @-moz-keyframes clouds {  
    from {  
      background-position: 0 0;  
    }  
      
    to {  
      background-position: 100% 0;  
    }  
  }  





/* _Backend content styles
==========================================*/
#sf_admin_container a
{
  color: #464646;
  text-decoration: none;
}

#sf_admin_container a:hover
{
  color: #000;
  text-decoration: underline;
}

#sf_admin_container h1
{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#sf_admin_container th
{
  background-color: #e7eef6;
  white-space: nowrap;
}

#sf_admin_container td, #sf_admin_container th
{
  border: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

#sf_admin_container tr
{
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#sf_admin_container ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

#sf_admin_container ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(../images/icons/error.png) no-repeat 4px 4px;
}

#sf_admin_container tr:hover
{
  background-color: #ffe;
}

#sf_admin_container input, #sf_admin_container textarea
{
  width: auto;
}

#sf_admin_container .radio_list, #sf_admin_container .checkbox_list
{
  margin: 0;
}

#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li
{
  list-style: none;
  display: inline;
}

#sf_admin_container .double_list_select, #sf_admin_container .double_list_select-selected
{
  width: 12em;
}

#sf_admin_container .double_list_label
{
  font-weight: bold;
}

#sf_admin_container tfoot td
{
  margin: 0;
  list-style: none;
  text-align: right;
}

#sf_admin_container thead img, #sf_admin_container tfoot img
{
  vertical-align: middle;
}

#sf_admin_bar
{
  float: right;
  margin-left: 20px;
}

.sf_admin_pagination
{
  float: right;
}

#sf_admin_container ul.sf_admin_td_actions
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  font-size: 90%;
}

#sf_admin_container ul.sf_admin_actions
{
  margin: 10px 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

#sf_admin_container ul.sf_admin_actions li a,
#sf_admin_container ul.sf_admin_td_actions li a
{
  padding-left: 20px;
  background: url(../images/icons/default.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_new a
{
  background: url(../images/icons/new.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_delete a
{
  background: url(../images/icons/delete.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_list a
{
  background: url(../images/icons/list.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_edit a
{
  background: url(../images/icons/edit.png) no-repeat 0 0;
}

#sf_admin_container .notice
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/icons/tick.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffc;
}

#sf_admin_container .error
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/icons/error.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f33;
  color: #fff;
}

#sf_admin_container .sf_admin_row_0 td
{
}

#sf_admin_container .sf_admin_row_1 td
{
/*  background-color: #eee;*/
}

#sf_admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #ccf;
  font-size: 11px;
  margin: 0;
}

#sf_admin_container fieldset
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
}

#sf_admin_container fieldset.collapsed * { display:none; }
#sf_admin_container fieldset.collapsed h2, #sf_admin_container fieldset.collapsed { display:block !important; }
#sf_admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#sf_admin_container label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: normal !important;
}

#sf_admin_container ul label, #sf_admin_container td label
{
  display: inline;
  float: none !important;
}

#sf_admin_container .sf_admin_form_row
{
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#sf_admin_container .sf_admin_form_row .content
{
  padding-left: 9em;
}

#sf_admin_container .help
{
  padding-left: 9em;
  color: #aaa;
}

#sf_admin_container td .help
{
  padding-left: 0;
}

#sf_admin_container .errors input, #sf_admin_container .errors select
{
  border: 1px solid #f22;
}

#sf_admin_container .sf_admin_list .sf_admin_boolean
{
  text-align: center;
}

